h1,h2,h3,h4,h5{
    color:red;
    background-color: yellow;
    text-align:center ;
    padding: 20px;
    border:1px black;
    width: 25%;
    border-radius: 0px 60px;
    margin: 10px;
}
